<div class="form-elements-wrapper">


      <div class="card-style mb-30">

        <h6 class="mb-25">  {{ formulaire ? 'Modifier un pôle' : 'Créer un pôle' }}</h6>

        <div *ngIf="errorMessage()?.length" class="alert-box danger-alert pl-100">

          <div class="alert">
            
            <p class="text-medium">
              {{ errorMessage() }}
            </p>
          </div>
        </div>




        <form class="row g-3" [formGroup]="form" (ngSubmit)="create()">

          <div class="input-style-1">
            <label>Nom</label>
            <input type="text" placeholder="Nom de la direction" formControlName="nom" />
          </div>


          <div class="input-style-1" >
            <label>Responsable</label>
            <div class="select-position">
              <ng-select 
                class="select-style-2"
                [items]="employes"
                formControlName="employes"
                [compareWith]="compareEmploye"
                bindLabel="nom"
                [searchable]="true"
                [clearable]="true"
                placeholder="Choisir un responsable">

                <ng-template ng-option-tmp let-item="item">
                  {{ item.nom }} {{ item.prenom }}
                </ng-template>

              </ng-select>

            </div>
          </div>          
          
          <div class="input-style-1" >
            <label>Direction</label>
            <div class="select-position">
              <ng-select 
                class="select-style-2"
                [items]="direction"
                formControlName="direction"
                [compareWith]="compareDirection"
                bindLabel="service"
                [searchable]="true"
                [clearable]="true"
                placeholder="Choisir une direction">

                <ng-template ng-option-tmp let-item="item">
                  {{ item.service }} 
                </ng-template>

              </ng-select>

            </div>
          </div>


          
          <div class="col-12 d-flex align-items-center gap-3 mb-30">
              <label class="form-label mb-0">Adjoint du Directeur ?</label>

              <button
                type="button"
                class="btn btn-sm"
                [class.btn-success]="form.value.adjoint"
                [class.btn-outline-secondary]="!form.value.adjoint"
                (click)="toggleAdjoint()">

                {{ form.value.adjoint ? 'Oui' : 'Non' }}

              </button>
          </div>


          <div class="col-12 d-flex justify-content-center align-items-center gap-3 mt-4">
            <app-validate></app-validate>
            <app-return-form [routerLink]="['/admin/pole']"></app-return-form>
          </div>

        </form>                 
      </div>


</div>

