<!-- 🔴 Message d'erreur -->


<div class="row mt-3">

  
  <div class="alert alert-warning" role="alert" *ngIf="errormsg">
    {{ errormsg }}
  </div>
  <div class="col-lg-12">
    <div class="card-style mb-30">
      <h6 class="mb-10">Employes</h6>

      <a routerLink="/admin/employes/new" class="main-btn dark-btn square-btn btn-hover">Ajouter un Employé</a>

      <div class="table-wrapper table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th><h6>Nom</h6></th>
              <th><h6>Prénom</h6></th>
              <th><h6>Email</h6></th>
              <th><h6>Téléphone</h6></th>
              <th><h6>Action</h6></th>
            </tr>
          </thead>

          <tbody>
            <!-- Liste des employés -->
            <!-- <tr *ngFor="let employe of employes | paginate: { itemsPerPage: pageSize, currentPage: currentPage }"> -->
                <tr *ngFor="let employe of employesPagines">
              <td class="min-width">
                <p>{{ employe.nom }}</p>
              </td>

              <td class="min-width">
                <p>
                  <a href="#0">{{ employe.prenom }}</a>
                </p>
              </td>

              <td class="min-width">
                <p>{{ employe.email }}</p>
              </td>

              <td class="min-width">
                <p>{{ employe.tel }}</p>
              </td>

              <td>
                <div class="action">
                  <button class="text-danger">
                    <i class="lni lni-trash-can"></i>
                  </button>                  
                  <button class="text-primary">
                    <i class="lni lni-pencil"></i>
                  </button>                  

                  <app-see [routerLink]="['/admin/employes', employe.id]"> </app-see>
                 
                </div>
              </td>

            </tr>

          </tbody>

        </table>
      </div>
    
      <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
          <button
              class="btn btn-secondary"
              [disabled]="currentPage === 1"
              (click)="changePage(currentPage - 1)">
              Précédent
          </button>

          <span>Page {{ currentPage }} / {{ totalPages }}</span>

        <button
          class="btn btn-secondary"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)">
          Suivant
        </button>
      </div>
    </div>

</div>
</div>