<app-add routerLink="/admin/employes/new">Ajouter un Employé</app-add>

<div class="row">

    <div *ngIf="errorMessage()?.length" class="alert-box danger-alert pl-100 mt-4">
      <div class="alert">
        <p class="text-medium">
          {{ errorMessage() }}
        </p>
      </div>
    </div>


  <div class="col-lg-12">
    <div class="card-style mb-30">
      <div class="table-wrapper table-responsive">

        <table class="table">

          <thead>
            <tr>
              <th><h6>Nom</h6></th>
              <th><h6>Prénom</h6></th>
              <th><h6>Email</h6></th>
              <th><h6>Téléphone</h6></th>
              <th><h6>Actions</h6></th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let employe of employesPagines">
                <td class="min-width">
                  <p>{{ employe.nom }}</p>
                </td>

                <td class="min-width">
                  <p>
                    <a href="#0">{{ employe.prenom }}</a>
                  </p>
                </td>

                <td class="min-width">
                  <p>{{ employe.email }}</p>
                </td>

                <td class="min-width">
                  <p>{{ employe.tel }}</p>
                </td>

                <td>
                  <div class="action">
                  
                    <app-delete (click)="deleteEmploye(employe)"></app-delete>

                    <app-see [routerLink]="['/admin/employes', employe.id]"> </app-see>
                    <app-update [routerLink]="['/admin/employes/update', employe.id]"> </app-update>
                  
                  </div>
                </td>

            </tr>

          </tbody>

        </table>
      </div>
    
      <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
          <button
              class="btn btn-secondary"
              [disabled]="currentPage === 1"
              (click)="changePage(currentPage - 1)">
              Précédent
          </button>

          <span>Page {{ currentPage }} / {{ totalPages }}</span>

        <button
          class="btn btn-secondary"
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)">
          Suivant
        </button>
      </div>
    </div>

</div>
</div>