<h2 class="card-title pt-4 pb-4">
  {{ formulaire ? 'Modifier gare' : 'Créer gare' }}
</h2>

<div class="card-body" style="width: 500px;margin-bottom: 200px;" *ngIf="form">

<div *ngIf="errorMessage()?.length" class="alert alert-danger text-center p-4 m-4">
  {{ errorMessage() }}
</div>

  <form class="row g-3" [formGroup]="form" (ngSubmit)="create()">

    <div class="col-12">
      <label class="form-label">Nom</label>
      <input type="text" class="form-control" formControlName="nom">
    </div>


    <div class="col-12 text-center pt-4">
      <button type="submit" class="btn btn-warning btn-lg text-light">
        Valider
      </button>
    </div>

  </form>

</div>