.bg-N{
    background-color: #00A78E;
}

.bg-U{
    background-color: #B90845;
}

.bg-vert-opaline{
    background-color: #F1FCF0;
}

.bg-vert-raisin{
    background-color: #BBFFBE;
}
.bg-vert-primavera{
    background-color: #34E88E;
}

.bg-vert-emeraude{
    background-color: #00997C;
}
.bg-vert-pin{
    background-color: #065654;
}
.bg-vert-jaspe{
    background-color: #002B28;
}

.bg-bleu-polaire{
    background-color: #B0DFFF;
}
.bg-bleu-azur{
    background-color: #3390FF;
}

.bg-bleu-ocean{
    background-color: #00468C;
}
.bg-jaune-sable{
    background-color: #FFEFAB;
}
.bg-jaune-soleil{
    background-color: #FFD245;
}
.bg-marron-roche{
    background-color: #664400;
}
.bg-ocre-rocheuse{
    background-color: #FFD2A9;
}
.bg-orange-sanguine{
    background-color: #FF6833;
}
.bg-rouge-basque{
    background-color: #7C1A00;
}
.bg-rouge-coquelicot{
    background-color: #FF3C00;
}
.bg-rouge-securite{
    background-color: #D53B1E;
}
.bg-french-berry{
    background-color: #9B2743;
}
.bg-violet-bougainvillier{
    background-color: #840062;
}
.bg-rose-ouigo{
    background-color: #E60075;
}
.bg-orange-basque{
    background-color: #FFF6F0;
}
.bg-gris-brume{
    background-color: #F0F0F0;
}
.bg-gris-pluie{
    background-color: #D3D3D3;
}
.bg-carbone{
    background-color: #3C3732;
}
.bg-noir-celeste{
    background-color: #2F0F32;
}



